body{
	font-family: sans-serif;
	margin: 0px;
}

/*-------------------------START OF NAVIGATION BAR-------------------------*/

.upperpart{
	overflow: auto;
	position: sticky;
	top: 0px;
	background-color: #262626;
}


.navigation{
	list-style-type: none;
	margin: 0px;
}

ul.navigation a{
	font-size: 1.2em;
	padding: 30px;
	float: right;
	text-decoration: none;
	color: white;
}

ul.navigation a:hover{
	background-color: lightgrey;
	color: red;
	font-weight: bold;
}

/*---------------------------END OF NAVIGATION BAR---------------------------*/

/*----------------------------START OF CONTACT US----------------------------*/

.banner{
	width: 100%;
	height: 500px;
}

.formbody{
	margin-top: 100px;
	text-align: center;
	/*background-color: yellow;*/

}

.form{
	width: 50%;
	margin: auto;
	margin-top: 50px;
	text-align: initial;
	/*background-color: pink;*/
	
}

td{
	font-size: 1.2em;
	text-align: center;
	/*background-color: yellow;*/
	padding: 15px;
}

input, textarea{
	background-color: #f2f2f2;
	font-size: 0.8em;
	width: 350px;
	margin-left: 10px;
	border-style: inset;
}

.submitdata{
	margin-left: 0px;
	width: 100px;
	height: 40px;
	cursor: pointer;
	float: right;
	border-style: outset;
}

/*-----------------------------END OF CONTACT US-----------------------------*/

/*----------------------------START OF NEWSLETTER----------------------------*/

.newsletter{
	margin-top: 170px;
	height: 250px;
	background-color: darkblue;
	color: white;
}

.newsletter p{
	font-size: 2em;
	padding: 30px;
}


.newsletter span{
	font-size: 1.2em;
	padding: 30px;
}

.newsletter input{
	width: 350px;
	height: 30px;
	margin-right: 10px;
	font-size: 1em;
}

.newsletter input.submit{
	width: 100px;
	height: 40px;
	cursor: pointer;
	background-color: #f2f2f2;
	border-radius: 5px;
}

/*-----------------------------END OF NEWSLETTER-----------------------------*/